<div class="panel-heading">
	<h3 class="panel-title">Créditos</h3>
</div>
<div class="panel-body">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img class="img-responsive" src="../images/logo.jpg" alt="Fotografía de manmak">
		  <hr />
		  <div class="caption">
		    <h3>manmak</h3>
		    <address>
					<i class="fa fa-building"></i>
					123 Main St<br />
					Anytown, España<br />
					<i class="fa fa-phone"></i> (123) 456-7890<br />
					<i class="fa fa-envelope"></i><a href="mailto:manmak@example.com"> manmak@example.com</a>
			</address>
		  </div>
		</div>
	</div>
</div>