<div class="form-group">
	<label for="pregunta" class="hidden-xs col-sm-2 control-label">Pregunta</label>
	<div class="col-xs-12 col-sm-10">
    	<input type="text" class="form-control" name="quiz[pregunta]" id="pregunta" placeholder="Escriba aquí su pregunta" />
    </div>
</div>
<div class="form-group">
	<label for="respuesta" class="hidden-xs col-sm-2 control-label">Respuesta</label>
	<div class="col-xs-12 col-sm-10">
    	<input type="text" class="form-control" name="quiz[respuesta]" id="respuesta" placeholder="Escriba aquí su respuesta" />
    </div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<a class="btn btn-default" href="/quizes">Cancelar</a>
		<input type="submit" class="btn btn-primary" value="Salvar" />
	</div>
</div>