<div class="panel-heading">
	<h3 class="panel-title">Respuesta</h3>
</div>
<div class="panel-body">
	<div class="alert alert-info" role="alert"><%= respuesta %></div>
	<a class="btn btn-default" href="/quizes/<%= quiz.id %>">Volver</a>
</div>
