<div class="panel-heading">
	<h3 class="panel-title">Preguntas</h3>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<% var i; for (i=0; i < quizes.length; i++) { %>
				<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
			<% } %>
		</tbody>
	</table>
</div>
