<div class="panel-heading">
	<h3 class="panel-title">Preguntas</h3>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<% var i; for (i=0; i < quizes.length; i++) { %>
				<tr>
					<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
					<td><a href="quizes/<%= quizes[i].id %>/edit"><i class="fa fa-pencil" aria-hidden="true" aria-label="Editar"></i></a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>
<div class="panel-body">
<a class="btn btn-success" href="/quizes/new">Crear pregunta</a>
</div>
