<div class="panel-heading">
	<h3 class="panel-title">Pregunta: <%= quiz.pregunta %></h3>
</div>
<div class="panel-body">
	<form class="form-horizontal" method="get" action="/quizes/<%= quiz.id %>/answer" role="form">
		<div class="form-group">
			<label for="respuesta" class="col-sm-2 control-label">Respuesta</label>
			<div class="col-sm-10">
		    	<input type="text" class="form-control" name="respuesta" id="respuesta" placeholder="Escriba aquí su respuesta">
		    </div>
		</div>
	    <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-default" value="Enviar">
			</div>
		</div>
	</form>
	<hr />
	<h4 class="h3">Comentarios</h4>
	<ul class="list-group">
	<% for (index in quiz.Comments) { %>
		<li class="list-group-item"><%= quiz.Comments[index].texto %></li>
	<% } %>
	</ul>
	<a class="btn btn-success" href="/quizes/<%= quiz.id %>/comments/new">Nuevo comentario</a>
</div>
